In [1]:
import altair as alt
import numpy as np
import pandas as pd

In [38]:
alt.enable_mime_rendering()

In [39]:
csv = '/Users/mauracullen/Documents/UCB_MIDS/W209_DataVisualization/W209_Assignments/Async/Week9/Lekagul-Sensor-Data.csv'
data = pd.read_csv(csv)
print data.shape
data.head()

(171477, 4)

             Timestamp              car-id car-type      gate-name
0  2015-05-01 00:43:28  20154301124328-262        4      entrance3
1  2015-05-01 01:03:48  20154301124328-262        4  general-gate1
2  2015-05-01 01:06:24  20154301124328-262        4   ranger-stop2
3  2015-05-01 01:09:25  20154301124328-262        4   ranger-stop0
4  2015-05-01 01:12:36  20154301124328-262        4  general-gate2

In [40]:
# https://github.com/altair-viz/altair_notebooks/blob/master/notebooks/02-Tutorial.ipynb

In [41]:
max_rows = len(data)

In [42]:
c1 = data.loc[data['gate-name'] == "entrance1"]
print c1.shape
c1.head()

(6267, 4)

               Timestamp              car-id car-type  gate-name
14   2015-05-01 02:52:12  20155201025212-846        4  entrance1
36   2015-05-01 04:06:50  20153701033700-323        1  entrance1
43   2015-05-01 05:49:32  20154901054932-304        3  entrance1
90   2015-05-01 08:13:24  20151301081324-366        1  entrance1
120  2015-05-01 09:15:38  20152001072049-523        1  entrance1

In [44]:
# Plot histogram of car types at entrance 1
chart = alt.Chart(data, max_rows=len(data)).mark_bar().encode(
    x='car-type',
    y='count(*)'
).transform_data(filter="gate-name==entrance1")
chart

In [ ]:
# Plot histograms of car types at all entrances