In [1]:
import numpy as np
import pandas as pd
import datetime
from dateutil.parser import parse
import matplotlib as plt
%matplotlib inline

In [2]:
# Load data sets to use 
folder = '/Users/mcullen/MyFolder/Documents/UCB_MIDS/W209_DataVisualization/w209-movies/data/'
folder = '/Users/mauracullen/Documents/UCB_MIDS/W209_DataVisualization/Final_Project/w209-movies/data/'

df_hws = pd.read_csv(folder+'hollywoodStories_consol_windows_mac.csv')
df_hws.head()
df_wn = pd.read_csv(folder+'the-numbers-weekly-data.csv')
df_wn.head()

/Users/mauracullen/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977

In [3]:
print "Length hws: %i" % len(df_hws)
print "Length wn: %i" % len(df_wn)

print df_hws.columns.values
print df_wn.columns.values

Length hws: 1003
Length wn: 126644
['filmName' 'normalizedDistributor' 'scoreRotten' 'scoreAudience' 'story'
 'genre' 'openingWeekendNumTheaters' 'year' 'domesticGrossAdj'
 'foreignGrossAdj' 'worldwideGrossAdj' 'budgetAdj' 'openingWeekend'
 'domesticProfitability' 'worldwideProfitability' 'domToForeignRatio'
 'openingWeekendGrossPerScreen' 'domesticGrossInfAdj']
['filmName' 'change' 'currentRank' 'distributor' 'weekGross' 'week'
 'perTheater' 'previousRank' 'theaters' 'cumeGross' 'weekEnded']

In [4]:
print len(np.unique(df_hws['filmName']))
print len(np.unique(df_wn['filmName']))

1002
12343

In [5]:
# Parse Date
month = []
year = []
day = []
dates = pd.Series(df_wn['weekEnded'])
for date in dates:
    d = parse(date)
    year.append(d.year)
    month.append(d.month)
    day.append(d.day)


df_wn['Year'] = year
df_wn['Month'] = month
df_wn['Day'] = day 

df_wn.head()

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded,Year,Month,Day
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977,1977,5,27
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977,1977,6,3
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977,1977,6,10
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977,1977,6,17
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977,1977,6,17

In [6]:
# Combine data into one data set
a = df_wn['filmName'].unique()
b = df_hws['filmName'].unique()
df = df_wn
g = np.ones(len(df))
g[g == '1'] = 'NaN'
df['Genre'] = g

print len(a)
print len(b)
for n in b: 
    if n in a:
        # find genre
        g = df_hws['genre'][np.argwhere(df_hws['filmName'] == n)[0]]
        # Locate the filename in df
        locs = np.argwhere(df['filmName'] == n)
        # replcae genere names in correct locations
        df.loc[locs[:,0],"Genre"] = g.values[0]
    
df.head()

/Users/mauracullen/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:6: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

12343
1002

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded,Year,Month,Day,Genre
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977,1977,5,27,1
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977,1977,6,3,1
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977,1977,6,10,1
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977,1977,6,17,1
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977,1977,6,17,1

In [7]:
df.to_csv('weekly_number_wGenre.csv')

In [8]:
print list(df.columns)
df.head()

['filmName', 'change', 'currentRank', 'distributor', 'weekGross', 'week', 'perTheater', 'previousRank', 'theaters', 'cumeGross', 'weekEnded', 'Year', 'Month', 'Day', 'Genre']

,filmName,change,currentRank,distributor,weekGross,week,perTheater,previousRank,theaters,cumeGross,weekEnded,Year,Month,Day,Genre
0,Smokey and the Bandit,NaN,1,Universal,2637024,1,5295.0,NaN,498,2637024,5/27/1977,1977,5,27,1
1,Smokey and the Bandit,-23%,1,Universal,2033608,2,4084.0,1.0,498,4670632,6/3/1977,1977,6,3,1
2,Smokey and the Bandit,-82%,1,Universal,369188,3,750.0,1.0,492,5039820,6/10/1977,1977,6,10,1
3,Smokey and the Bandit,-65%,2,Universal,130180,4,657.0,1.0,198,5170000,6/17/1977,1977,6,17,1
4,Star Wars Ep. IV: A New Hope,NaN,1,20th Century Fox,5473681,5,34864.0,NaN,157,15628913,6/17/1977,1977,6,17,1

In [9]:
# Filter only movies with distrbutors
null = np.argwhere(df['distributor'].isnull().values)
print df.shape
# Remove rows without genres
df = df.drop(df.index[list(null[:,0])])
print df.shape

(126644, 15)
(121408, 15)

In [10]:
list(df.columns)

['filmName',
 'change',
 'currentRank',
 'distributor',
 'weekGross',
 'week',
 'perTheater',
 'previousRank',
 'theaters',
 'cumeGross',
 'weekEnded',
 'Year',
 'Month',
 'Day',
 'Genre']

In [11]:
# Create overall df for overview visual
# Calculate yearly gross value by genre
overall_df = pd.DataFrame(columns=['Studio','Month','avg_Monthly_gross','avg_Monthly_cume_Gross'])
# 'Year'

c = 0
ds = df.distributor.unique()
tgross = []
cgross = []
for dist in ds:
    dfg = df.loc[(df.distributor== dist)]
    # years = dfg['Year'].unique()
    mos = dfg['Month'].unique()
    # for year in years[1:len(years)]: 
    for mo in mos: 
        # df_y = dfg.loc[(dfg['Year']== year)]
        df_m = dfg.loc[(dfg['Month']== mo)]
        for yr in df_m['Year'].unique(): 
            df_y = df_m.loc[(df_m['Year']== yr)]
            tgross.append(sum(df_y['weekGross']))
            cgross.append(sum(df_y['cumeGross']))
        rowi = pd.DataFrame({'Studio': dist,'Month':mo,'avg_Monthly_gross':np.mean(tgross),
                             'avg_Monthly_cume_Gross':np.mean(cgross)}, index=[0]) 
        overall_df = pd.concat([overall_df, rowi], axis = 0)
        
print overall_df.shape
overall_df.head()
overall_df.to_csv('Studio_overall_data_mo.csv')

(4178, 4)

In [12]:
overall_df['Studio'].unique()

profit_df = pd.DataFrame(columns=['Studio','Profit'])
for studio in overall_df['Studio'].unique():
    s = sum(overall_df['avg_Monthly_gross'][overall_df['Studio'] == studio])
    rowi = pd.DataFrame({'Studio': studio,'Profit':s}, index=[0]) 
    profit_df = pd.concat([profit_df, rowi], axis = 0 )

In [13]:
top_25_df = profit_df.sort_values('Profit', ascending = False)[:25]
top_25_studios = profit_df.sort_values('Profit', ascending = False)[:25]['Studio']

In [14]:
# Seleect only top 25 studios from datafram
t25_df = pd.DataFrame(columns=['Studio','Month','avg_Monthly_gross','avg_Monthly_cume_Gross'])
for st in top_25_studios:
    t25 = overall_df[overall_df['Studio'] == st]
    t25_df = pd.concat([t25_df,t25], axis = 0)

t25_df['Total_gross_mil'] = t25_df['avg_Monthly_gross']/1000000
t25_df.to_csv('Top25_Studio_overall_data_mo.csv')

In [15]:
t25_df.sort_values('Month')[:10]
sorted_df = t25_df.sort_values('Studio').sort_values('Month')
sorted_df.head()

,Month,Studio,avg_Monthly_cume_Gross,avg_Monthly_gross,Total_gross_mil
0,1,Columbia,9.631804e+08,6.430812e+07,64.308120
0,1,USA Films,9.212023e+08,6.159051e+07,61.590512
0,1,Sony Pictures,1.015651e+09,6.745462e+07,67.454620
0,1,Cannon,9.539801e+08,6.370375e+07,63.703755
0,1,Paramount Pictures,9.680270e+08,6.458404e+07,64.584038

In [16]:
a = []
for i in range(len(sorted_df.Studio)):
    a.append("{key : \"%s\", date: \"01/%i\", value: \"%0.2f\"}" % (sorted_df['Studio'][0].values[i], 
                                                      sorted_df['Month'][0].values[i], 
                                                      sorted_df['Total_gross_mil'][0].values[i]))

In [17]:
t25_df.shape
top_25_studios.values

array(['Universal', '20th Century Fox', 'Sony Pictures', 'Orion Pictures',
       'Embassy', 'Paramount Pictures', 'Walt Disney', 'Cannon',
       'United Artists', 'Cinecom', 'MGM/UA Classics', 'Atlantic',
       'Warner Bros.', 'USA Films', 'Samuel Goldwyn Films', 'MGM',
       'Columbia', 'New World', 'Sony/TriStar', 'Island/Alive', 'New Line',
       'Goldwyn Entertainment', 'Empire Pictures', 'Rialto Pictures',
       'Cinema Guild'], dtype=object)

In [18]:
# Create Dataframe for each studio with the Monthly profit calculated by film 
c = 0
# ds = df.distributor.unique()

for dist in top_25_studios.values:
    c = c+1
    print c, dist
    dfg = df.loc[(df.distributor== dist)]
    studio_df = pd.DataFrame(columns=['Studio','Film','Month',
                                      'Monthly_Gross','Monthly_Cume_Gross'])
    for mo in dfg.Month.unique():
        dfm = dfg.loc[(dfg.Month == mo)]        
        for film in dfm.filmName.unique():
            dff = dfm.loc[(dfg.filmName == film)]
            rowi = pd.DataFrame({'Studio': dist,'Film':film, 'Month':mo,
                                 'Monthly_Gross': sum(dff['weekGross']),
                                 'Monthly_Cume_Gross': sum(dff['cumeGross'])}, index=[0]) 
            studio_df = pd.concat([studio_df, rowi], axis = 0)
    
    print studio_df.shape
    studio_df.to_csv(str(c) + '_Studio_data.csv')

1 Universal
(1606, 5)
2 20th Century Fox
(2023, 5)
3 Sony Pictures
(2120, 5)
4 Orion Pictures
(207, 5)
5 Embassy
(30, 5)
6 Paramount Pictures
(1704, 5)
7 Walt Disney
(2177, 5)
8 Cannon
(55, 5)
9 United Artists
(36, 5)
10 Cinecom
(25, 5)
11 MGM/UA Classics
(59, 5)
12 Atlantic
(35, 5)
13 Warner Bros.
(2470, 5)
14 USA Films
(91, 5)
15 Samuel Goldwyn Films
(240, 5)
16 MGM
(800, 5)
17 Columbia
(27, 5)
18 New World
(70, 5)
19 Sony/TriStar
(118, 5)
20 Island/Alive
(28, 5)
21 New Line
(605, 5)
22 Goldwyn Entertainment
(83, 5)
23 Empire Pictures
(78, 5)
24 Rialto Pictures
(230, 5)
25 Cinema Guild
(187, 5)

In [19]:
# https://matplotlib.org/examples/pie_and_polar_charts/polar_scatter_demo.html

# size in gross income by movie
# color is genre or distributor
# circle around is month of year or year