In [4]:
import altair as alt

In [5]:
cars = alt.load_dataset('cars')
cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [ ]:
data = cars

In [7]:
alt.Chart(data).make_point.encode(
    x = 'Miles_per_Gallon', 
    y = 'Horsepower',
    color = 'Origin',
    size = 'Cylinders'
)

AttributeError: 'Chart' object has no attribute 'make_point'

In [ ]:
# https://github.com/altair-viz/altair_notebooks/blob/master/notebooks/02-Tutorial.ipynb